.App {
  text-align: center;
  margin: 0 auto;
}

.App-title {
  border:2px solid green;
}

.App-link { 
  text-decoration: none;
  color:#39C0ED; 
}

.App-logo {
  width: 6vmin;
  height: 6vmin;
  pointer-events: none;
  border: 2px solid red;
  border-radius: 50%;
  vertical-align: middle;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: #A40000;
  color: white;
  border: 4px solid #fefeef;
  background-repeat: no-repeat;
  background-size: cover;
}

p { 
  text-align: left;
}

p span { 
  width: calc(100% - 30px); 
  padding:10px;
  margin:10px;
  display: block; 
  opacity: 0.5;
}

.TopMenu {
  display: inline-block;
  padding: 5px;
  border: 1px solid blue;    
  background-color: yellow; 
  vertical-align: top;
	height: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Spinner {
  border: 4px solid lightgray;
  width: 300px;
  margin: 0 auto;
}

@import url("./css/card.css");
@import url("./css/list.css"); 
@import url("./css/lotto.css"); 
@import url("./css/form.css");
@import url("./css/inline.css");
@import url("./css/email.css");
@import url("./css/table.css");
@import url("./css/safaris.css");
@import url("./css/weather.css");
@import url("./css/stock.css");
@import url("./css/spinner.css");
@import url("./css/navbar.css");
@import url("./css/backUp.css");
@import url("./css/modal.css");
@import url("./css/pagination.css");
@import url("./css/font-awesome.css");

@media screen and (max-width: 600px) {
  .App {
    text-align: left;
    margin: 0;
  }

  .Logo {
    height: 28px;
  }

  .NavMenu {
    text-align: center;
  }

  .NavMenu .Nav_link {
    display: inline-block;
  }
}
