/* https://www.youtube.com/watch?v=qPp6O4ycH5c */
.Card {
  flex: 1 1 20rem;
  flex-direction: column;
  background-color:  rgb(0, 87, 138);
  border-radius: 10px;
  color: white;
  margin: 10px 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  padding: 10px 20px;
  align-self: normal;
  font-size: clamp(16px, calc(16px + (28 - 16) * ((100vw - 360px) / 1560)), 28px);
}

.Card .title {
  display: block;
  text-transform: uppercase; 
  margin: 10px 0;
  color: greenyellow; 
}

.Card p {
   margin-bottom: 10px;
   text-align: center;
}

.Card .priceOffer {
  display: inline-block;
  margin-left: 5px;
  color: greenyellow;
  border-bottom: 2px outset #2565ae;
  border-radius: 2px;
  text-decoration: none;
  cursor: pointer;
}

.textWrap {
  float: right;
  width: 60%;
  border-radius: 2%;
  margin: 5px;
  text-align: center;
  background: #efefef
}

.Row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.fixedbutton {
  bottom: 0px;
  right: 0px; 
  position: sticky;
}

@media screen and (max-width: 600px) {
  .textWrap {
    width: 60%;
  }  
}
