
/*
.cart {
    display: flex;
    flex-direction: column;
    margin: 2px 5px;
    padding-left: 1px;
    font-family: "Shadows Into Light", cursive;
    font-size: 1rem;
  }
  
  .cart span {
    display: flex;
    justify-content: right;
  }
*/
  .cart-row {
    border: '2px solid green'
  }
  