
  
  .log {
    max-width: 350px;
    color: #f21e08;
    padding: 2px 0;
    font-size: 14px;
    font-weight: 300;
  }

  .price {
    color: #ffcba4;
  }

  input[type=text],
  input[type=email],
  input[type=phone],
  input[type=password],
  select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px inset #2565ae;
    border-radius: 5px;
    resize: vertical;
  }
  
  select[aria-label="secure"] {
    background: #093e61;
    padding: 8px 0px;
    color:white;
    width: calc((100vw - 10px) / 10);
    min-width: 100px;
    display: flex;
    white-space: nowrap;
  }

  select[aria-label="secure"]:focus {
    min-width: 150px;
    width: auto;
}

  input[type=checkbox] {
    background-color: #a04549;
  }

  textarea {
    min-height: 100px;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: white;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  .wrapIcon {
    align-items: center;
    display: flex;
    border: 1px solid #2565ae;
  }

  .cartRow {
    width: 100%;
    overflow: hidden;
    border: 1px solid #ff1100;
    clear: both;
  }

  .column {
    border: 1px solid lightcoral;
    margin: 2px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  button {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  .btn {
    text-align: right;
  }

  @media screen and (max-width: 600px) {
    .col-25, .col-75, select,
    input[type=submit], button {
      width: 100%;
      margin-top: 0;
    }
  }