
  .container {
    border-radius: 5px;
    border: 2px solid silver;
  }
  
  .log {
    max-width: 350px;
    color: #f21e08;
    padding: 2px 0;
    font-size: 14px;
    font-weight: 300;
  }

  form {
    margin: 0 auto;
    width: 100%;
    border-radius: 5px;
    text-align: left;
  }

  input[type=text],
  input[type=email],
  input[type=phone],
  input[type=password],
  select, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    resize: vertical;
  }
  
  input[type=checkbox] {
    background-color: #a04549;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: white;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    border: 2px inset silver;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    border: 2px inset silver;
    margin-top: 6px;
  }

  .wrapIcon {
    align-items: center;
    display: flex;
    border: 2px solid lightgreen;
  }

  div.navform form select {
    background-color: #093e61;
    color:white;
  }

  .cartRow {
    width: 100%;
    overflow: hidden;
    border: 1px solid #ff1100;
    clear: both;
  }

  .column {
    border: 2px solid lightcoral;
    margin: 2px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  button {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  .btn {
    text-align: center;
  }

  @media screen and (max-width: 600px) {
    .col-25, .col-75, 
    input[type=submit], button {
      width: 100%;
      margin-top: 0;
    }
  }