.safari {
    color: #222;
    margin-bottom: 0.5rem;
  }
  
  .safari > span {
    display: inline-block;
  }
  
  .safari > span.complete {
    font-size: 1.75rem;
    font-weight: bold;
    color: green;
  }
  
  .safari > span.incomplete {
    font-size: 1.75rem;
    font-weight: bold;
    color: brown;
  }
  
  .safari > span.safari-name {
    width: 25rem;
    font-size: 1.5rem;
  }