.safarilist {
    color: darkblue;
  }
  
.safaris {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.safari {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 15px;
  border: 1px solid #00578a;
  background-color:  rgb(0, 87, 138);
}

.safariDesc {
  display: flex;
  padding-top: 5px;
  justify-content: space-between;
}

.cart-btn {
  padding: 5px;
  margin: 10px;
}
  .error {
    color: brown;
  }
