
.cssDate {
  font-size:12px; 
  border: 1 px solid red;
}

.AppLogger {
  border: 4px solid lightsalmon;
}

.AppLogger p {
  text-align: left;
}

span.imgDiv {
  display:inline-block;
}

.country-flag {
  display: inline-block; 
  width: 10px;
  height: 10px;  
}

span.emoji {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 2px;
  text-align: center;
  vertical-align: middle;
}

span.emoji img {
  width:100%;
  height:100%;
  object-fit:cover;
}