
.cssDate {
  font-size:12px; 
  border: 1 px solid red;
}

.country-flag {
  display: inline-block; 
  width: 10px;
  height: 10px;  
}

.registration {
  border: 1px solid #2565ae;;
  color: lightskyblue;
  border-radius: 5px;
  width: 100%;
}

ol.logs {
  border: 1px solid darkcyan;
  border-radius: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
}

ol.logs > li {
  display: inline-block;
  border: 1px solid #2565ae;;
}

ol.logs > li:first-child {
  margin-left:0
}

div.stack {
  border: 1px solid #2565ae;;
  border-radius: 5px;
}

.fSize {
  font-size: 2vw;
}

.img {
  width: 50%;
  height: auto;
}
