.table {
  display: table;
  width: 100%;
  border: 1px solid #2565ae;
  border-radius: 5px;
  border-collapse: collapse;
}

.th {
  background: rgb(65, 64, 64);
}

.th,
.tr {
  display: table-row;
}

.td {
  display: table-cell;
  vertical-align: top;
  border: 1px double #2565ae;
}

.tr .td:first-child,
.tr .td:last-child {
  color: #ffeecc;
  font-weight: normal;
}

.tr:nth-child(even) {
  border: 1px solid #105c78;
  border-radius: 5px;
}

.tr:nth-child(odd) {
  border: 1px solid #5592a8;
  border-radius: 5px;
}

.table-caption { 
  display: table-caption; 
  caption-side: bottom; 
  border: 1px solid #2565ae;
  border-radius: 5px;
  text-align: right;
}

@media screen and (max-width: 600px) {
  .table, .th, .tr, .td, .table-caption {
    display: block;
    width:100%;
  }
}