

ul.tipping {
    border: 2px solid silver;
    background-color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul.tipping li {
    display: inline-block;
}

ul.tipping .header{
    font-size: larger;
    font-weight: bold;
    background: silver;
}
