
.header {
  background-color: #424242;
  color: whitesmoke;
  padding: 10px;
  font-size: 28px;
  font-family: 'Recursive', sans-serif;
}

.day {
  padding: 15px;
  color: whitesmoke;
  font-family: 'Recursive', sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.temp {
  padding: 15px;
  color: whitesmoke;
  font-family: 'Recursive', sans-serif;
  font-size: 18px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.flex-child {
  flex: 1;
  border: 1px solid darkslategray;
  text-align: center;
}

@media screen and (max-width: 400px) {
  .flex-child {
    display: block;
    width: 100%;
  }
}