.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-content {
  border: 2px solid #00578a
}

@import url("./css/card.css");
@import url("./css/cart.css");
@import url("./css/navbar.css");
@import url("./css/navigation.css");
@import url("./css/cssform.css");
@import url("./css/ratings.css");
@import url("./css/safari.css"); 
@import url("./css/safaris.css");
@import url("./css/shopping.css"); 
@import url("./css/shoppings.css");
@import url("./css/styles.css");
@import url("./css/table.css");
@import url("./css/tipping.css");
@import url("./css/weather.css");

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}