.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  flex: 1 1 20rem;
  border-radius: 10px;
  margin: 10px 20px;
  box-shadow: 0 0 15px rgb(0 0 0 / 40%);
  padding: 10px 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url("./css/album.css");
@import url("./css/card.css");
@import url("./css/errorLog.css");
@import url("./css/form.css");
@import url("./css/login.css");
@import url("./css/navbar.css");
@import url("./css/pagination.css");
@import url("./css/theme.css");
@import url("./css/shoppings.css");
@import url("./css/spinner.css");
@import url("./css/stars.css");
@import url("./css/stripes.css");
@import url("./css/styles.css");
@import url("./css/table.css");
@import url("./css/weather.css");
