
.TreeRoot {
  height: 110;
  flex-grow: 1;
  max-width: 400px;
}

.TreeList {
  border: '4 px solid darkblue';
  text-align: left;
}

.TreeList:nth-child(odd) {background: #e0e0e0;}

.BackUp {
    border: 4px solid red;
}

.TreeItem {
  cursor: pointer;
  user-select: none;
  border: '4 px solid green';
  text-align: left;
}