
.BackUps {
  margin-left: 100px;
  margin-top: 100px;
  text-align: left;
}

.BackUps > div ul {
  list-style: none;
}

@media only screen and (max-width: 600px) {
  .BackUps {
    margin: 5px;
    text-align: left;
  }
}