
.BackUps {
  margin: 5px;
  align-content: center;
}

.BackUps > div ul {
  list-style: none;
}

img.resize {
  max-width:50%;
  max-height:50%;
}

.thumbs-list{
  border: 2px solid burlywood;
}

.ThumbnailDiv {
  padding: auto;
  margin: 2px;
  border: 2px solid orchid;
}

.Thumbnail {
  height: 200px;
  width: 200px;
}

@media screen and (max-width: 600px) {
  .BackUps {
    margin: 5px;
    text-align: left;
  }
}