
.OuterCard { 
    width:600px;
    background-color: white; 
    color: black; 
    border-radius: 10px; 
    margin: 10px auto; 
    padding: 1px; 
    border: 4px solid rgb(163, 3, 25);
}

.InnerCard {
    background-color: rgb(240, 255, 255); 
    color: black; 
    border-radius: 10px; 
    margin: 10px auto; 
    padding: 1px; 
    border: 4px solid rgb(144, 223, 245);
}

@media screen and (max-width: 600px) {
    .OuterCard { 
        width:100%;
        background-color: white; 
        color: black; 
        border-radius: 10px; 
        margin: 10px auto; 
        padding: 1px; 
        border: 4px solid rgb(163, 3, 25);
    }

    .InnerCard {
        background-color: rgb(240, 255, 255); 
        color: black; 
        border-radius: 10px; 
        margin: 10px auto; 
        padding: 1px; 
        border: 4px solid rgb(144, 223, 245);
    }
  }