.OuterCard { 
  background-color: #81d4fa;
  border-radius: 10px; 
  margin: 10px auto; 
  padding: 1px; 
}

.InnerCard {
  /* background-color: rgb(240, 255, 255); #b3e5fc #80d8ff
  background-color: #87CEFA; */ 
  background-color: green;
  border-radius: 10px; 
  margin: 10px auto; 
  padding: 1px; 
}
