.OuterCard { 
  background-color: #81d4fa;
  border-radius: 10px; 
  margin: 10px auto; 
  padding: 1px; 
}

.InnerCard {
  background-color: rgb(2, 118, 107);
  border-radius: 10px; 
  color:white;
  margin: 10px auto; 
  padding: 1px; 
}

.bg-light {
  background-color: #81d4fa;
}

.bg-dark {
  background-color: #222;
}

