  
  * {
    box-sizing: border-box;
  }
 
  .Button {
    background-color: #fafafa;
    border:0;
    box-shadow:0 0 4px rgba(0,0,0,0.3);
    transition: .3s box-shadow;
  }
  
  .Button:hover {
    box-shadow:0 0 4px rgba(0,0,0,0.5);
  }

  .errorMsg {
    max-width: 350px;
    color: #f21e08;
    padding: 2px 0;
    margin-top: 2px;
    font-size: 14px;
    font-weight: 300;
  }

  .formContainer {
    box-sizing: border-box;
    width: 100%;
    margin: 10px;
    background-color: #efffc9;
    padding: 5px 20px 15px 20px;
    border: 1px solid rgb(191, 246, 250);
    border-radius: 3px;
  }
  
  div + div {
    margin-top: 1em;
  }
  
  label {
    display: inline-block;
    width: 100px;
    text-align: right;
    padding: 12px 12px 12px 0;
  }
  
  input[type=text], select, textarea {
    width: 250px;
    border: 1px solid #999;
    border-radius: 3px;
    color: #797979;
    padding: 12px;
    resize: vertical;
  }
  
  input:focus, textarea:focus {
    border-color: #000;
  }
  
  textarea {
    vertical-align: top;
    resize: vertical;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  }

  .ToolBar {
    font-size: 11px;
    vertical-align:top;
    text-align:center;
    margin:auto;
    background:#1362ae;
    border:1px solid #f00;

  }  

  .Navigation {
    padding:4px;
    border: 2px solid white;
  }



  .btnLabel {
    width: 100px;
    text-align: right;

    display: inline-block;
    border: 1px solid #999;
    padding: 12px;
  }
  
  .btnInput {
    width: 250px;
    display: inline-block;

    border: 1px solid #999;
    padding: 12px;
    resize: vertical;
  }



  .Buttons {
    border:1px solid red;
    width:100%;
    margin:0 auto;
  }

  .Button {
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    width: 70px;
    padding: 3px 5px;
    text-align: center;
    border:1px solid blue;
    cursor: pointer;
  }
