  
  * {
    box-sizing: border-box;
  }
  
  textarea {
    width:100%;
    resize: vertical;
    padding:15px;
    border-radius:15px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
    height:150px;
  }

  .Button {
    background-color: #fafafa;
    border:0;
    box-shadow:0 0 4px rgba(0,0,0,0.3);
    transition: .3s box-shadow;
  }
  
  .Button:hover {
    box-shadow:0 0 4px rgba(0,0,0,0.5);
  }

  .errorMsg {
    max-width: 350px;
    color: #f21e08;
    padding: 2px 0;
    margin-top: 2px;
    font-size: 14px;
    font-weight: 300;
  }
  
  .cssform {
    margin-bottom: 10px;
    text-align: left;
  }
  
  .cssform label {
    width: 100px;
    padding-right: 20px;
    margin-bottom: 5px;
  }
  
  .cssform input[type="text"],
  .cssform input[type="email"],
  .cssform input[type="phone"],
  .cssform input[type="message"],
  .cssform input[type="password"] {
    width: 200px;
    padding: 5px;
    margin-left: 25px;
  }
  
  .cssinput {
    border: 1px solid red;
  }

  button {
    max-width: 150px;
    padding: 5px 10px;
  }
  
  @media screen and (max-width: 600px) {
    .errorMsg {
      max-width: 100%;
    }
  
    .cssform {
      display: block;
      width: 100%;
    }
  
    .cssform .csslabel {
      display: inline-block;
      width: auto;
      float: none;
      text-align: left;
      width: 100%;
    }

    .cssform input[type="text"],
    .cssform input[type="email"],
    .cssform input[type="phone"],
    .cssform input[type="message"],
    .cssform input[type="password"] {
      display: block;
      width: 100%;
      margin-left: 1px;
    }
  }






  .contact-grid1 input[type="text"], 
  .contact-grid1 input[type="email"],
  .contact-grid1 textarea{
    width: 98%;
    padding: 12px 1%;
    font-size: 1em;
    border: none;
    outline: none;
}
.contact-grid1 textarea{
    height:140px;
    resize:none;
}
.contact-top1 label {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-align: left;
    display: inherit;
    margin-top: 14px;
}
.required{color:#FF0000;}
.contact-top1 {
    background: rgba(0, 0, 0, 0.85);
    padding: 3em 3em 4em;
}
.contact-grid1 input[type="submit"] {
    font-size: 1.1em;
    outline: none;
    border: none;
    text-transform: uppercase;
    background: #ff4c4c;
    padding: 0.7em 0;
    letter-spacing: 1px;
    color: #fff;
    display: block;
    width: 300px;
    cursor:pointer;
    margin: 15px auto 0;
    transition: 0.5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.contact-grid1 input[type="submit"]:hover{
    background:#0099e5;
     -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}

@media(max-width: 500px){
    .contact-grid1 input[type="submit"]{
        width:100%;
    }
}