.form-inline {  
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    border: 1px solid black; 
  }
  
  .form-inline label {
    margin: 5px 10px 5px 0;
  }
  
  .form-inline input, select {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    width: 130px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
  .form-inline button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
  }
  
  .form-inline button:hover {
    background-color: royalblue;
  }
  
  @media (max-width: 600px) {
    .form-inline input, select {
      margin: 10px 0;
    }
    
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  }