
.Safaris {
  border: 2px solid red;
}

.vList{
  margin: 0 auto;
  text-align: left;
}

ul.vList li {
  padding-left: 10px;
  list-style: none;
  margin-bottom: 10px;
}

ul.vList li::before {
  content: "»&nbsp;";
  color: red;
  font-weight: bold;
  display: inline-block; 
  width: .5em;
}

#page-numbers {
  list-style: none;
  display: flex;
}

#page-numbers > li {
  margin-right: 0.3em;
  user-select: none;
  cursor: pointer;
  color: blue; 
}

@media screen and (max-width: 600px) {
  .vList {
    padding: 0 5px 0 5px;
    float: left;
    margin: 10px;
  }
}