
.Safaris {
  border: 2px solid orange;
}


.Nav_link:link {
  color: #fff;
  /*font-size: 1.6rem;
  line-height: 1.6rem;*/
  margin: 2px;
  padding:2px;
  border: 1px solid red;
  
  text-decoration: none;
}
.Nav_link:visited {
  color: #fff;
}
.Nav_link:hover {
  color: yellow;
}
.Nav_link:active {
  color: teal;
}


.vlContainer {
   padding: 2em;
   background: #eee;
   text-align: left;
   border: 1px solid orange;
} 

.vList{
  margin: 0 auto;
  display:table;
}