.Rekke {
    width: 100%;
    list-style-type: none;
    padding:0;
    margin:0;
}
.Rekke ul, .Rekke ul li {
    display:inline-block;
    padding:5px;
    width: 100px;
    background-color: silver;
}

.RadTall {
    color:red;
}

/*
ul.Lotto {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ul.Lotto > li {
    margin: 0 20px;
  }
  */