.Rekke {
   /* width: 100%;
    list-style: none;*/
    padding: 5px;
    margin: 2em;
    border:2px solid green;

/*
    border: 1px solid #000;
    margin: 2em;
    width: 80%;
    padding: 5px;
    font-family: Verdana, sans-serif;
    */

}



ul.Lotto {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
/*  
  li {
    float: left;
  }
  */

  ul.Lotto > li {
    display: inline-block;
    color: white;
    text-align: center;
    width: 50px;
    padding: 16px;
    margin: 0 10px;
    text-decoration: none;
    border:2px solid orange;
  }
  
  li a:hover {
    background-color: #111111;
  }





ul.menu li {
    display:inline;
  }
/*

.Rekke ul, .Rekke ul li {
    display:block;
    padding:5px;
    margin:5px;
    width: 50px;
    background-color: silver;
    border:2px solid red;
}

.Rekke > li{
    border: 2px solid black;
}

.RadTall {
    color:red;
}

*/