.Rekke {
    padding: 5px;
    margin: 2em;
    border:4px solid green;
}

ul.Lotto {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border:4px solid #333333;
  }

  ul.Lotto > li {
    display: inline-block;
    color:pink;
    text-align: center;
    width: 50px;
    padding: 16px;
    margin: 0 10px;
    text-decoration: none;
    border:2px solid brown;
  }
  
  li a:hover {
    background-color: #111111;
  }

