.ToolBar {
    vertical-align: top;
    text-align: center;
    background:#f8ecd5;
    border: 1px solid #f00;
  }  

  .Navigation {
    border: 2px solid white;
  }
  
  .Navigation:after {
    content: "";
    clear: both;
  }

  .leftDiv, .rightDiv {
    display: inline-block;
    vertical-align: top;
    color:blue;
    width: 80px;
    background: #f7e7ce;
  }

  .rightDiv {
    width: calc(100% - 100px);
    border: 2px solid white ;
  }

  .xLogo {
    border: 2px solid red;
    width: 70px; 
    display: inline-block;
    vertical-align: top;
  }
