  .ToolBar {
    vertical-align: top;
    text-align: center;
    border: 1px solid #f00;
  }  

  .Navigation {
    border: 0px solid #fefeef;
    word-wrap:break-all;
  }
  
  .Navigation:after {
    content: "";
    clear: both;
  }

  .NavLogo, .NavMenu {
    display: inline-block;
    vertical-align: top;
    color:blue;
    width: 80px;
    border: 0px solid #fefeef;
    word-wrap:break-all;
  }

  .NavMenu {
    width: calc(100% - 100px);
    border: 0px solid #fefeef ;
    word-wrap:break-all;
  }

  .xLogo {
    border: 2px solid red;
    width: 70px; 
    display: inline-block;
    vertical-align: top;
  }

  .LogOut {
    border: 2px solid white;
    margin:  2px;
    padding: 2px;
  }

  @media screen and (max-width: 600px) {
    .Navigation {
      width: 100%;
      display: block;
      border: 0px solid grey;
      text-align: center;
      word-wrap:break-all;
    }

    .NavLogo, .NavMenu {
      width: 100%;
      display: block;
      font-size: 16px;
      color: darkblue;
      border: 0px solid red;
      word-wrap:break-all;
    }
  }