  .ToolBar {
    vertical-align: top;
    text-align: center;
    border: 1px solid #f00;
  }  

  .Navigation {
    border: 2px solid grey;
  }
  
  .Navigation:after {
    content: "";
    clear: both;
  }

  .NavLogo, .NavMenu {
    display: inline-block;
    vertical-align: top;
    color:blue;
    width: 80px;
    border: 1px solid red;
  }

  .NavMenu {
    width: calc(100% - 100px);
    border: 2px solid white ;
  }

  .xLogo {
    border: 2px solid red;
    width: 70px; 
    display: inline-block;
    vertical-align: top;
  }

  .LogOut {
    border: 4px solid white;
  }

  @media screen and (max-width: 600px) {
    .Navigation {
      border: 2px solid grey;
      text-align: center;
    }

    .NavLogo, .NavMenu {
      width: 100%;
      display: block;
      font-size: 16px;
      color: darkblue;
      border: 1px solid red;
    }
  }