.modal {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.35);
    border:2px solid silver;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background:  #ccc;
    width:500px;
}

.modal-header, .modal-footer {
    padding: 10px;
    margin: 2px;
}

.modal-title {
    text-align: center;
}
  
.modal-body {
  padding: 10px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.modal .show {
    opacity: 1;
    pointer-events: visible;
}