
.model {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  color:black;
  font-size: 14px;
  background: rgb(158, 231, 169);
  border-radius: 4px;
  padding: 1rem;
  border: 2px solid #966;
  overflow: auto;
  width: 600px;
  height: auto;
  max-height: 100%;
}
 
.close-icon {
  position: absolute;
  background: #ededed;
  text-align: center;
  border: 1px solid #999;
  z-index: 1;
  
  content: 'x';
  cursor: pointer;

  color: grey;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.sub {
  cursor: pointer;
  color: #0fc0fc;
  text-decoration: underline;
}
