/* Popup style */
.model {
  position: fixed;
  background: #00000050;
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color:black;
  font-size: 14px;
}
 
.model-content {
  width: 100%;
  position: relative;
  margin: 0 auto;
  height: auto;
  margin-top: calc(100vh - 85vh - 20px);
  background: rgb(158, 231, 169);
  border-radius: 4px;
  padding: 1rem;
  border: 2px solid #966;
  overflow: auto;
}
 
.close-icon {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  content: 'x';
  cursor: pointer;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
}

.sub {
  cursor: pointer;
  color: #0fc0fc;
  text-decoration: underline;
}
