.Navigation {
  border: 1px solid #fefeef;
  text-align: center;
}

.Navigation:after {
  content: "";
  clear: both;
}

nav {
  border-bottom: 1px solid black;
}

.NavLogo, .NavMenu {
  display: inline-block;
  vertical-align: top;
  color:blue;
  border: 1px solid #fefeef;
}

.NavMenu {
  width: calc(100% - 10px);
  border: 1px solid #fefeef ;
  word-wrap:break-all;
}

.Nav_link {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: blue;
  background: white;
  margin: 2px;
}

.Nav_link:link {
  text-decoration: underline !important;
}

.Nav_link:visited {
  background: white;
  color:red;
}

.Nav_link:hover {
  color: #61dafb;
}

.Nav_link:active {
  color: teal;
}

.Nav_link a::after {
  display: inline-block;
  color: #000;
  content: '>';
  font-size: 80%;
  font-weight: bold;
  padding: 0 3px;
}