.ToolBar {
  vertical-align: top;
  text-align: center;
  border: 1px solid #f00;
}  

nav {
  border-bottom: 1px solid black;
}

.Nav_link {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: blue;
}

.Nav_link:link {
  text-decoration: underline !important;
}

.Nav_link:visited {
  background: white;
  color:red;
}

.Nav_link:hover {
  color: #61dafb;
}

.Nav_link:active {
  color: teal;
}

.Nav_link a::after {
  display: inline-block;
  color: #000;
  content: '>';
  font-size: 80%;
  font-weight: bold;
  padding: 0 3px;
}