.Navigation {
  border: 0px solid #fefeef;
  text-align: center;
}

.Navigation:after {
  content: "";
  clear: both;
}

.NavMenu {
  display: inline-block;
  vertical-align: top;
  border-top: 1px solid #fefeef;
  width: calc(100% - 2px);
}

.Nav_link {
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #fefbd8;
  /*background: bisque;*/
  background: #337ab7;
  font-weight: normal;
  border-radius: 10%;
  padding: 2px;
  margin: 1px;
}

/*
.Center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
*/

.Logo {
  cursor:default;
  background-color: transparent;
  /*border: 3px solid #fefbd8;*/
  border: 3px solid red;
  vertical-align: middle;
}

.LogOut {
  margin: 0em;
  padding: 1px 2px;
  border: 2px outset red;
  background-color: #337ab7;
  color: #fff;
}


.Nav_link:link {
  color: blue;
  text-decoration: none;
}

.Nav_link:visited {
  color: #00008B;
}

.Nav_link:hover {
  color: #61dafb;
}

.Nav_link:active {
  color:  brown;
}