


@media screen and (max-width: 600px) {  
  .pagination {
    margin: 5px auto;
    display: flex;
    list-style: none;
    outline: none;
  }
    .pagination ul li a {
        font-size: 18px;
        padding: 2px;
        min-width: 10px;
        height: 20px;
    }
    .pagination ul li span.current,
    .pagination ul li span.disabled {
      font-size: 18px;
        padding: 2px;
        min-width: 10px;
        height: 20px;
    }
    .pagination ul li {
        margin: 5px 4px;
    }
    .pagination ul li:first-child a,
    .pagination ul li:last-child a {
        line-height: 23px;
    }
  }