.main-app {
  border: 2px ridge #464141;
 }
  
 .container {
  border-bottom: #fff 2px ridge;
 }
 .pagination {
  margin-top: 45px;
  margin-left: 5px;  
  display: flex;
  justify-content: flex-start;
  list-style: none;
  outline: none;
}


ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 1px;
}


.pagination > .active > a {
  background-color: #47ccde;
  color: #fff;
 }

 .pagination > li > a {
  border: 1px solid #47ccde;
  padding: 1px 2px;
  outline: none;
  cursor: pointer;
 }
  
 .pagination > li > a, .pagination > li > span {
  color: #47ccde;
  background-color: azure;
 }