.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, .5);
    z-index: 1000;
  }

  .popUp {
    color: white;
    background-color: #81d4fa;
    padding: 0 2vw;
    font-size: 1.5vw;
    border-radius: 8px;
    border: 2px solid white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-52%, -50%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .popUp-content{
    display: block;
    background-color: rgb(2,118,107); 
    overflow-y: scroll;
  }

  .pHeader {
    border: 1px solid purple;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    background-color: #A40000;
    font-size: 18px;
  }
  
  .pChild, .pCloseMe {
    border:2px solid brown; 
  }

  .pCloseMe {
    width: 15px;
    font-size: 0.73em;
    color: #A40000;
    background: #eee;
  }

  .pCloseMe a {
    text-decoration: none;
    font-size: 12px;
  }

  .urlStyle { 
    color: #40c4ff;
  }

  input[type=button] {    
    background-color: rgb(37, 116, 161);  
    color: red;
    border: none;  
    width: 90px;
    padding: 3px 5px;
    border-radius: 4px;
    cursor: pointer;
  }    
      
  input[type=button]:hover {    
    background-color: #45a049; 
  } 

  .CartList {
      display: inline-block; 
      text-align: left; 
  }

  .form-element label {
      display: inline-block;
      width: 120px;
      text-align: right;
  }

  @media screen and (max-width: 600px) {
    .popUp {
      width: 90%;
      bottom: 10px;
      overflow: auto;
    }
    .popUp-content{
      text-align: center;
      font-size: 18px;
    }

    input[type=button] {
      margin-top: 0;
      width: 90%;
    }
  }