.SafariTours {
  text-align: left;
  width: 800px;
  margin: 2px;
  border: 2px solid yellow;
}

.SafariTitle {
  border: 0px solid rgb(165, 42, 89);
  font-size:24px;
}

.SafariDetails {
  height: auto;
  text-align: left;
  margin: 2px;
}

.SafariSnap {
  float: right; 
  margin: 5px;
  width: 450px;
  border: 0px solid brown;
}

.oddRow {
  border-top: 2px outset#90dff5;
  margin-top: 5px;
}

.VideoPlayer {
  float: right;
  width: 500px; 
  margin: 0 auto;
  border: 2px solid purple;
}

.video-player {
  border: 2px solid salmon;
}

.clearfix {
  clear: both;
}

.fa {
  display:inline-block;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}

.fa-lg{
  line-height:.75em;
  vertical-align:-15%
}

.fa-play-circle:before{content:"\f144"}
.fa-play-circle-o:before{content:"\f01d"}

.fa-play-circle:before{
   content:"\f144";
}

.icon .fa {
  transition: all 0.1s;
  transform: rotate(90deg);
}

.icon .fa.down {
   transform: rotate(0deg);
}
   
.content {
   padding: 15px;
   border-top: 1px solid #ddd;
 }

 @media screen and (max-width: 600px) {
  video {
    width: 100%;
    height: auto;
}
    .VideoPlayer {
      float: inherit; 
      margin: 0px;
      width: 100%;
    }  
    
    .VideoPlayer img {
      display:block;
      float:none;
      margin:0 auto 20px !important;
    }

    .SafariSnap {
      float: inherit; 
      margin: 0px;
      width: 100%;
    }  

    div.SafariSnap img {
      display:block;
      float:none;
      margin:0 auto 20px !important;
    }
  }