
.SafariTours {
  border: 2px solid orange;
  width: 100%;
}

.Accordion {
  display: flex;
  padding: 0 6px;
  width: 400px;
}


.VideoPlayer {
  width: 150px;
  border: 2px solid pink;
}


@media screen and (max-width: 600px) {
  .VideoPlayer {
    float: inherit; 
    margin: 0px;
    width: 100%;
  }  

  .VideoPlayer img {
    display:block;
    float:none;
    margin:0 auto 20px !important;
  }
}