.SafariDetails {
  height: auto;
  text-align: left;
  border: 2px solid orange;
}

.SafariSnap {
  float: right; 
  margin: 5px;
  width: 350px;
  border: 1px solid red;
}

.SafariTitle {
  color:red;

}  

.even {
  background:#639ebb;
  color:black;
}

.VideoWrapper {
  margin: 0 auto;
  border: 2px solid red; 
}

.video-player {
  background: rgba(0,0,0,.1);
  border: 0px solid green;
  width: 50%;
  margin: 0 auto;
}

.clearfix {
  clear: both;
}

.fa {
  display:inline-block;
  font:normal normal normal 14px/1 FontAwesome;
  font-size:inherit;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}

.fa-lg{
  font-size:1.33333333em;
  line-height:.75em;
  vertical-align:-15%
}

.fa-play-circle-o:before{content:"\f01d"}

.fa-play-circle:before{
   content:"\f144";
}

.icon .fa {
  font-size: 20px;
  transition: all 0.1s;
  transform: rotate(90deg);
}

.icon .fa.down {
   transform: rotate(0deg);
}
   
.content {
   padding: 15px;
   border-top: 1px solid #ddd;
 }

 @import "font-awesome/css/font-awesome.css";

 @media only screen and (max-width: 600px) {
    .SafariSnap {
      float: inherit; 
      margin: 0px;
      width: 100%;
      border: 1px solid green;
    }  

    img {
      display:block;
      float:none;
      margin:0 auto 20px !important;
    }
  }