form.StockWrapper {
    text-align: center;
    border:4px solid #f8ecd5;
    font-size: 10px;
}

ul.StockList {
    list-style: none;
    white-space: nowrap;
    padding: 2px;
    width: 400px;
    margin-bottom: 20px;
    display: inline-block; 
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

ul.StockList li::before {
    content: "•"; 
    display: inline-block; 
    width: 1em;
    padding: 5px;
}

.StockItem {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:100%;
}

.BoersDetails {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: inline-block;
    width: 100%; 
}

.QuoteContainer {
    border: 1px solid #f8ecd5;
    margin: 1px;
    width: 80px;
    text-align: left;
    display: inline-block;
}

.QuoteItems {
    list-style: none;
    margin: 0; 
    padding: 0;
}

@media screen and (max-width: 600px) {
    .QuoteContainer {
      display: block;
      width: 100%;
    }
}