form.StockWrapper {
    text-align: center;
    border:4px solid green;
    font-size: 10px;
}

ul.StockList {
    list-style: none;
    white-space: nowrap;
    padding: 2px;
    width: 400px;
    margin-bottom: 20px;
    border: 4px solid red;
    display: inline-block; 
    text-align: left;
}

ul.StockList li::before {
    content: "•"; color: red;
    display: inline-block; 
    width: 1em;
    padding: 5px;
}

.StockTable {
    border: 4px solid darkblue;
    width:100%;
}

.StockRow {
    border: 4px solid olive;
    display:inline-block;
    width:100%; 
}

.QuoteContainer {
    border: 4px solid green;
    width: 100px;
    display:inline-block;
}

.QuoteItems {
    list-style: none;
    margin: 0; 
    padding: 0;
}