.tableWrap {
    display: table;
    width: 100%;
  }

  .tableCol {
    display: table-cell;
    padding: 10px;
    background: #e0f8ff;
  }

  .tableHeader {
    background-color: #4CAF50;
  }

  @media only screen and (max-width: 600px) {
    .tableWrap, .tableCol {
         display: block;
    }
    .tableCol { 
        width: 90%; 
    }

    img {
      display:block;
      float:none;
      margin:0 auto 20px !important;
    }
  }