.Spinner {
  text-align: center;
  color:red;
  background:silver;
  margin: auto;
  width: 40%;
  border: 3px solid #73AD21;
  padding: 10px;
}

.Table {
  box-sizing: border-box; 
  border: 2px solid silver;
  text-align: left; 
  border-collapse: collapse; 
  border: 1px solid orange;
}

.Table td, .Table th {
  border: 1px solid #fff0f0;
  padding: 2px;
  /*min-width:150px;*/
}

.Table td {
  text-align: left;
  vertical-align: top; 
  /*min-width:150px*/
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

table > tr > th {
  background-color: #d0d;
}

td { 
  vertical-align: top; 
  /*min-width:150px;*/
}

.Table tr:nth-child(even) {
  background-color: #f4f1e7;
}

.Table tr:hover {
  background-color: #ddd;
}

.Table th {
  text-align: left;
  color: #4CAF50;
  background: silver;
  font-weight: bold;
}

.SafariSnap {
  float: right; 
  margin: 5px;
  width: 250px;
}

.SafariDetails {
  width: 100%;
  height: auto;
  text-align: left;
}

.SafariTitle {
  color:red;

}


.Shoppings { 
  border: 1px solid black;
  text-align: left;
  border-collapse: collapse;
}


@media only screen and (max-width: 600px) {
  .SafariSnap {
    width: 150px;
  }

  .Table td {
    text-align: left;
    vertical-align: top; 
  }
  
  td { 
    vertical-align: top; 
  }

  .InnerCard table, thead, tbody, th, td, tr { 
		display: block; 
	}
}