
.ReactVideo {
  width:  100px;
  height: 100px;
  border: 4px solid #73AD21;
}

.Spinner {
  text-align: center;
  color: brown;
  background:silver;
  margin: auto;
  width: 40%;
  border: 3px solid #73AD21;
  padding: 10px;
}

.Table {
  box-sizing: border-box; 
  border: 2px solid silver;
  text-align: left; 
  border-collapse: collapse; 
  border: 1px solid orange;
  margin-left: 10px;
}

.Table td, .Table th {
  border: 1px solid #fff0f0;
  padding: 2px;
}

.Table td {
  text-align: left;
  vertical-align: top; 
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

table > tr > th {
  background-color: #d0d;
}

td { 
  vertical-align: top; 
}

.Table tr:nth-child(even) {
  background-color: #f4f1e7;
}

.Table tr:hover {
  background-color: #ddd;
}

.Table th {
  text-align: left;
  color: #4CAF50;
  background: lightblue;
  font-weight: bold;
}

.Shoppings { 
  border: 1px solid black;
  text-align: left;
  border-collapse: collapse;
}

span.Italic {
  font-style: italic;
}


  @media screen and (max-width: 600px) {
    .Table td {
      text-align: left;
      vertical-align: top; 
    }
    
    td { 
      vertical-align: top; 
    }

    .InnerCard table, thead, tbody, th, td, tr { 
      display: block; 
    }

    .InnerCard thead { 
      opacity: 0; 
      border: 0 none; 
      height: 0; 
    }

    .InnerCard thead * { 
      margin: 0; 
      padding: 0; 
      border: 0 none; 
      height: 0px; 
    }
}