.tableWrap {
    display: table;
    width: 100%;
  }

  .tableCol {
    display: table-cell;
    width: 33.3%;
    padding: 10px;
    background: #e0f8ff;
  }

  .tableHeader {
    background: green;
  }

  @media only screen and (max-width: 600px) {
    .tableWrap, .tableCol {
         display: block;
    }
    .tableCol { 
        width: 100%; 
    }
  }