.toggle-switch .switch::before {
  content: "";
  width: 21px;
  height: 21px;
  background-color: #aaa;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggle-switch input[type="checkbox"]:checked + .switch::before {
  transform: translateX(25px);
  background-color: #6699cc;
}

.toggle-switch input[type="checkbox"]:checked + .switch {
  background-color: #336699;
}