
  .Current {
    background: #eee;
    box-sizing: border-box;
    padding: 1px;
  }

  .CellDiv {
      box-sizing: border-box;
      display: inline-block;
      padding: 50px;
      text-align: center;
      width: 50%;
  }

  .Green {
      background: lightgreen;
  }

  .Blue {
      background: lightblue;
  }
  
  .WeatherCard {
    transition: 0.3s;
    border: 4px solid silver;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 #0ff;
  }

  .Cells {
    margin: .1em;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(187, 129, 129, 0.08);
    width:100%;
    border: 4px solid black;
  }

  .Cell {
    float:left;
    margin: 0 1% 1% 0;
    width: 50px;
    margin:5px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  .ForecastList {
    margin: .1em;
    width:100%;
    /*border: solid 1px #aaa;*/
    text-align: center;
    border: 4px solid silver;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
  }
  
  .ForecastCard {
    display: inline-block;
    width: 80px;
    margin:5px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

/*
  .ForecastCard {
    margin: 1em;
    box-shadow: 10px 5px 5px black;
    width:200px;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
*/
  .ForecastCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .wthrImg {
    width: 70px;
  }