
.WeatherCard {
  margin: 1em;
  border: 4px solid green;
  width: 500px;
  margin: 0 auto;
}

.ForecastList {
    margin: 1em;
    border: 4px solid red;
  }

  .ForecastCard {
    margin: 1em;
    border: 4px solid green;
    width:200px;
    display: inline-block;
  }

  .Cells {
    margin: .1em;
    border: 4px solid blue;
    width:100%
  }

  .Cell {
    display: inline-block;
    width: 50px;
    margin:5px;
    border: 2px solid deepskyblue;
    box-sizing: border-box;
  }

  .wthrImg {
    width: 70px;
  }