
  .Current {
    border: 4px solid #eee;
    padding: 1px;
    margin: 0 auto;
    width: 200px;
  }

  .CellDiv {
    display: inline-block;
    width: 65px;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  .WeatherCard {
    transition: 0.3s;
    padding: 10px;;
    margin: 0 auto;
    text-align: center;
    display: block;
  }

  .ForecastList {
    text-align: center;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    display: flex;
  }
  
  .ForecastCard { 
    flex: 1;
    padding: 2px;
    width: 80px;
    margin: 5px;
    display: inline-block;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

  .ForecastCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .wthrImg {
    width: 70px;
    border-radius: 50%;
  }

  @media screen and (max-width: 600px) {
    .ForecastList {
      text-align: center;
      box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
      transition: 0.3s;
      display: block;
    }
    
    .ForecastCard { 
      width: 95%;
      padding: 5px;
      display: block;
      text-align: center;
      margin: 10px;
      display: block;
      box-sizing: border-box;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
    }

    .Current {
      border: 4px solid #eee;
      padding: 1px;
      margin: 0 auto;
      width: 200px;
      display: table;
    }

    .CellDiv {
      display: table-cell;
      width: 65px;
      margin: 5px;
      box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
      transition: .3s;
    }
  }